@using Web.EF
@{
    Layout = null;
    var esensor = ViewBag.esensor as  Tb_Device_eSensor;
    if (esensor == null) { esensor=new Tb_Device_eSensor();}
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/CSS/BarLeft.css" rel="stylesheet" />
    <link href="~/CSS/Common.css" rel="stylesheet" />
    <title>添加客流计</title>
</head>
<body>
    <div id="container-body">
        <div class="container-header">
            <div class="left">
                <span class="breadcrumb-left">当前位置 :</span>
                </div>
                <div class="left">
                    <ol class="breadcrumb">
                        <li class="active">设备管理</li>
                        <li class="active">第三方</li>
                        <li><a href="/DevManage/ESensor">客流计</a></li>
                        <li class="active">@ViewBag.Type</li>
                    </ol>
                </div>
            <div style="clear: both"></div>
        </div>
        <div class="admintable">
            <input type="hidden" id="Uid" value="@Html.Raw(esensor?.DeviceID ?? 0)" />
            <table>
                <tr>
                    <td><span>*</span>设备序列号:</td>
                    <td><input type="text" id="DeviceSN" class="form-control" value="@Html.Raw(esensor?.DeviceSN)" @Html.Raw(esensor?.DeviceSN!=null? "readonly='readonly'":"")></td>
                    <td><span>*</span>设备名称:</td>
                    <td><input type="text" id="DeviceName" class="form-control" value="@Html.Raw(esensor?.DeviceName)"></td>
                    <td><span>*</span>起始日期:</td>
                    @*<td><input type="text" id="StartDate" class="form-control" value="@Html.Raw(esensor?.StartDate)"></td>*@
                    <td>
                        <div class="input-group date form_date" initialDate data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input id="StartDate" class="form-control" type="text" value="@Html.Raw(esensor.StartDate?.ToString("yyyy-MM-dd"))" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input2" value="" />
                    </td>
                    <td><span>*</span>结束日期:</td>
                   @* <td><input type="text" id="EndDate" class="form-control" value="@Html.Raw(esensor?.EndDate)"></td>*@
                    <td>
                        <div class="input-group date form_date" initialDate data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input id="EndDate" class="form-control" type="text" value="@Html.Raw(esensor.EndDate?.ToString("yyyy-MM-dd"))" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input2" value="" />
                    </td>

                </tr>
                <tr>

                    @*<td><span>*</span>最后修改日期:</td>
                        <td><input type="text" id="LastUpdate" class="form-control"></td>*@
                    <td><span>*</span>IP地址:</td>
                    <td><input type="text" id="IPAddress" class="form-control" value="@Html.Raw(esensor?.IPAddress)"></td>
                    <td><span>*</span>端口:</td>
                    <td><input type="text" id="Port" class="form-control" value="@Html.Raw(esensor?.Port)" onkeyup="value=value.replace(/[^\d]/g,'')"></td>
                    <td><span>*</span>是否启用:</td>
                    @*<td><input type="text" id="Enabled" class="form-control"> </td>*@
                    <td><input type="checkbox" value="0" id="Enabled" name="Enabled" checked='checked' @Html.Raw(esensor?.Enabled == 1 ? "checked='checked'" : "") /> </td>
                </tr>
                @*<tr>
                        <td><span>*</span>通道号:</td>
                        <td><input type="text" id="ChannelID" class="form-control" value="@Html.Raw(dvr?.ChannelID)"></td>
                        <td><span>*</span>备注</td>
                        <td><input type="text" id="Remarks" class="form-control" value="@Html.Raw(dvr?.Remarks)"></td>
                    </tr>*@
            </table>
        </div>
        <div class="container-footer">
            <div class="container-footer-right">
                <div class="container-buton-left">
                    <a class="btn btn-default btn-block" href="/DevManage/ESensor">返回</a>
                </div>
                <div class="container-buton-right">
                    <a class="btn btn-primary btn-block" onclick="save();">保存</a>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
    <script src="~/JS/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="~/JS/layer/layer.js"></script>
    <script src="~/JS/jQuery.plus.js" type="text/javascript"></script>
    <script src="~/JS/bootstrap.min.js"></script>
    <script src="~/JS/bootstrap-datetimepicker.js"></script>
    <script src="~/JS/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/JS/datecommon.js"></script>
    <script src="~/JS/bootstrap-datetimepicker.min.js"></script>
    <script src="~/JS/commonheight.js"></script>
    <script src="~/JS/public.js"></script>
    <script type="text/javascript">
        //保存数据
        function save() {
            var deviceSN = $("#DeviceSN").val();
            var deviceName = $("#DeviceName").val();
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();
            var iPAddress = $("#IPAddress").val();
            if (deviceName === "") {
                //alert("请填写设备名称");
                layer.msg("请填写设备名称", { icon: 2 });
                return;
            }
            if (startDate === "" || endDate === "") {
                //alert("请填写时间");
                layer.msg("请填写时间", { icon: 2 });
                return;
            }
            if (startDate > endDate) {
               // alert("开始时间不能大于结束时间");
                layer.msg("开始时间不能大于结束时间", { icon: 2 });
                return;
            }
            if (!isValidIP(iPAddress)) {
                layer.msg("请填写正确ip地址", { icon: 2 });
                return;
            }
            var seensor = {
                DeviceID: $("#Uid").val(),
                DeviceSN: deviceSN,
                DeviceName: deviceName,
                StartDate: startDate,
                EndDate: endDate,
                Enabled: $("#Enabled").is(":checked") ? 1 : 0,
                IPAddress: iPAddress,
                Port: $("#Port").val()
            };
            $.HttpPost("/DevManage/SaveESensor", { seensor: seensor }, function (data) {
                if (data.State === 1) {
                    //alert("保存成功.");
                    layer.msg("保存成功", { icon: 1 });
                    //跳转到前一页
                } else {
                    //alert("保存失败。\r\n" + data.Message);
                    layer.msg("保存失败\r\n" + data.Message, { icon: 2 });
                }
            });
        }
    </script>
</body>
</html>
